@import "../styles/globals.css";

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color-scheme: light;
  color: var(--foreground);
  background-color: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
